body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Board{
display: flex;
flex-wrap: wrap;
height: 1120px;
}

.Board div{
  width:150px;
  height: 100px;
  background-color: bisque;
  border: 2px solid black;
}

.none{
  background-color: white;
  border: none;
}

.container{
  display: flex;
}

.grid-player{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  background-color: brown;
}

.grid-player div{
  width: 40px;
}


.grid-pc{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(42, 165, 63);
}
.grid-pc div{
  width: 40px;
}

.display{
  width: 400px;
  height: 400px;
  background-color: rgb(223, 226, 50);
  margin: 20px;
}

.destroyer-cont{
  width: 80px;
  height: 40px;
  background-color: darkorange;
  margin: 10px;
  display: flex;
}
.destroyer{
  background-color: darkorange;
}

.submarine-cont{
  width: 120px;
  height: 40px;
  background-color: rgb(47, 0, 255);
  margin: 10px;
  display: flex;
}

.cruiser-cont{
  width: 80px;
  height: 40px;
  background-color: rgb(255, 0, 0);
  margin: 10px;
  display: flex;
}

.battleship-cont{
  width: 160px;
  height: 40px;
  background-color: rgb(255, 0, 157);
  margin: 10px;
  display: flex;
}
.ship div{
  width: 40px;
  height: 40px;
}